html, body{
    padding: 0;
    margin: 0;
}
/* Hero Session ps: all image can't be loaded locally with access issue in web browser */
.hero{
    height: 700px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/bg.jpg") ;
    background-size: cover;
    background-position: center;
    margin-bottom: 5%;
}
/* align hero session text center */
.hero-text{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f8f8f8;
    font-size: 40px;
}
.title{
    border-right: 1px solid black;
}
.project-pic{
    height: 50;
    width: 100%;
}
.gray-color{
    border-style: solid 1px;

}
.outer-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.container-fluid{
    overflow: hidden;
    }

.nav-container {
    padding-left: 40px;
    padding-right: 40px;
}
